{
    "presets": [
        ["minify", {
            "builtIns": false
        }],
        [
            "@babel/preset-env",
            {
                "debug": false,
                "corejs": "3.0.0",
                "useBuiltIns": "usage", // "usage" | "entry" | false, defaults to false.
                "targets": {
                    "esmodules": false,
                    "ie": "11"
                }
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-syntax-dynamic-import", {
            "corejs": true
        }],
        ["@babel/plugin-proposal-function-bind", {
            "corejs": true
        }],
        ["@babel/plugin-transform-object-assign", {
            "corejs": true
        }],
        ["@babel/plugin-proposal-class-properties", {
            "corejs": true,
            "loose": true // http://2ality.com/2015/12/babel6-loose-mode.html
        }]
    ]
}