{
    "extends": "stylelint-config-standard",
    "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "extends",
          "apply",
          "tailwind",
          "components",
          "utilities",
          "screen"
        ]
      }
    ]
    }],
    "function-calc-no-invalid": true,
    "indentation": "tab",
    "number-leading-zero": null,
    "unit-whitelist": ["em", "rem", "s"]
  }
}