<section class="gc-get-in-touch sec-padded bg-primary">
    <div class="container">
       <div class="sec-wrap">
            <div class="content-wrap text-center max-w-xl mt-0 mr-auto mb-0 ml-auto">
            <h1 class="heading5 text-neutral-100">GET IN TOUCH</h1>
            <p class="para my-7 text-neutral-100">Far far away, behind the word mountains,  far from the countries Vokalia and Consonantia, a large language ocean.</p>
            <div class="contact-btn mt-0 mr-auto mb-0 ml-auto">
                <a href="#" class="flex flex-row justify-center items-center text-colorBlue">
                    <span class="mx-auto"> CONTACT US </span>
                    <img src="../img/icons/arrow.png" alt="">
                </a>
            </div>
            </div>
            <div class="bottom-img">
                <picture>
                    <source media="(min-width:768px)" srcset="img/icons/text-img-mbl.png">
                    <img src="../img/icons/text-img.png" alt="" class="mx-auto">
                </picture>
            </div>
       </div>
    </div>
</section>