<section class="gc-part-of-day sec-padded">
    <div class="container">
        <div class="sec-wrap">
            <h1 class="heading4 text-center">
                GAHWA AS PART OF YOUR DAY
            </h1>
            <div class="box-wrapper grid grid-cols-3">
                 <div class="content-box flex flex-row">
                     <div class="sec-img">
                         <img src="../img/icons/feather-coffee.svg" alt="">
                     </div>
                     <div class="sec-content pl-8">
                         <h1 class="heading6">
                             MORNING BOOSTER
                        </h1>
                        <p class="para">The wake of aromas to keep yourself up and running.</p>
                     </div>
                 </div>
                 <div class="content-box flex flex-row">
                    <div class="sec-img">
                        <img src="../img/icons/metro-power.svg" alt="">
                    </div>
                    <div class="sec-content pl-8">
                        <h1 class="heading6">
                            ENERGISED
                       </h1>
                       <p class="para">For energy that tastes great and helps get things done.</p>
                    </div>
                </div>
                <div class="content-box flex flex-row">
                    <div class="sec-img">
                        <img src="../img/icons/moon.svg" alt="">
                    </div>
                    <div class="sec-content pl-8">
                        <h1 class="heading6">
                            SOUND SLEEP
                       </h1>
                       <p class="para">Get that nap in paradise after a well spent day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>