<section class="gc-partners">
    <div class="container">
        <div class="sec-title">
            <h1 class="heading4 font-light text-center">OUR PARTNERS</h1>
        </div>
        <div class="grid gap-x-2 grid-cols-3 justify-items-center justify-center items-center md:grid-cols-4">
            <div class="img-wrapper">
                <picture>
                    <img src="../img/logo/partner-logo1.svg" alt="" class="object-contain">
                </picture>
                <p class="para text-center">GOOGLE MENA.</p>
            </div>
            <div class="img-wrapper">
                    <picture>
                        <img src="../img/logo/partner-logo2.svg" alt="" class="object-contain">
                    </picture>
                <p class="para text-center">ADOBE INC.</p>
            </div>
            <div class="img-wrapper">
                <picture>
                    <img src="../img/logo/partner-logo3.svg" alt="" class="object-contain">
                </picture>
                <p class="para text-center">STARBUCKS MENA</p>
            </div>
            <div class="img-wrapper">
                <picture>
                    <img src="../img/logo/partner-logo4.svg" alt="" class="object-contain">
                </picture>
                <p class="para text-center">AIRBNB CO.</p>
            </div>
        </div>
    </div>
</section>