<section class="gc-part-of-day sec-padded">
    <div class="container">
        <div class="sec-wrap">
            <h1 class="heading4 text-center pb-7 md:pb-14 text-colorBrown">
                GAHWA AS PART OF YOUR DAY
            </h1>
            <div class="box-wrapper grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                 <div class="content-box flex flex-col items-center md:items-start text-center md:text-left md:flex-row p-3 xl:p-6 w-full">
                     <div class="sec-img pb-5 pt-1">
                         <img src="../img/icons/feather-coffee.svg" alt="">
                     </div>
                     <div class="sec-content pl-4 md:pl-2 lg:pl-8">
                         <h1 class="heading6 text-secondary">
                             MORNING BOOSTER
                        </h1>
                        <p class="para py-2.5">The wake of aromas to keep yourself up and running.</p>
                     </div>
                 </div>
                 <div class="content-box flex flex-col items-center md:items-start text-center md:text-left md:flex-row p-3 xl:p-6 w-full">
                    <div class="sec-img pb-5 pt-1">
                        <img src="../img/icons/metro-power.svg" alt="">
                    </div>
                    <div class="sec-content pl-4 md:pl-2 lg:pl-8">
                        <h1 class="heading6 text-secondary">
                            ENERGISED
                       </h1>
                       <p class="para py-2.5">For energy that tastes great and helps get things done.</p>
                    </div>
                </div>
                <div class="content-box flex flex-col items-center md:items-start text-center md:text-left md:flex-row p-3 xl:p-6 md:justify-center md:col-span-2 lg:col-auto w-full">
                    <div class="sec-img pb-5 pt-1">
                        <img src="../img/icons/moon.svg" alt="">
                    </div>
                    <div class="sec-content pl-4 md:pl-2 lg:pl-8 md:max-w-xs">
                        <h1 class="heading6 text-secondary">
                            SOUND SLEEP
                       </h1>
                       <p class="para py-2.5">Get that nap in paradise after a well spent day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>