<section class="gc-section">
    <div class="gc-typography" data-comp-name="typography">
        <div class="container mx-auto">
            <h1 class="heading1">Heading1</h1>
            <h1 class="heading2 text-style2">Heading2</h1>
            <h1 class="heading3">Heading3</h1>
            <h1 class="heading4 text-style1">Heading4</h1>
            <h1 class="heading5">Heading5</h1>
            <h1 class="heading6">Heading6</h1>
            <br>
            <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure recusandae laboriosam earum culpa porro labore asperiores blanditiis velit in dolore quasi quis doloribus, deleniti neque voluptate est, ratione cupiditate! Id.</p>
            <br>
            <p class="para lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure recusandae laboriosam earum culpa porro labore asperiores blanditiis velit in dolore quasi quis doloribus, deleniti neque voluptate est, ratione cupiditate! Id.</p>
        </div>
    </div>
</section>