.gc-get-in-touch {
    position: relative;
    .sec-wrap {
        .content-wrap {
            .contact-btn {
                max-width: 140px;
            }
        }
    }
    .bottom-img {
        margin-top: 60px;
    }
}