.gc-get-in-touch {
    .sec-wrap {
        position: relative;
        .content-wrap {
            .contact-btn {
                max-width: 140px;
            }
        }
        .bottom-img {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 100%;
        }
    }
}