.gc-partners {
    .sec-title {
        .heading4 {
            color: #94645F;
        }
    }
    .img-wrapper {
        picture {
            img {
                min-height: 134px;
                margin: 75px 0 50px;
                @media (max-width: 768px) {
                    min-height: 105px;
                    margin: 50px 0 20px;
                }
                &:hover {
                    filter: grayscale(1);
                }
            }
        }
        .para {
            color: #46494C;
        }
    }
}