.gc-partners {
    .sec-title {
        .heading4 {
            color: #94645F;
        }
    }
    .img-wrapper {
        picture {
            img {
                min-height: 134px;
                margin: 90px 0 50px;
            }
        }
        .para {
            color: #46494C;
        }
    }
}